<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
    <body>
        <h1>Happy trails</h1>
        <div class="row">

            <div class="col-md-6"> Temp api data</div>
            <button type="button" class="btn btn-primary">Primary</button>

            <div class="col-md-6"> other temp data</div>
            <button type="button" class="btn btn-primary">Primary</button>

        </div>

<%= form_tag root_path, method: 'get', class: 'form-inline' do %>

  <%= text_field_tag :location, nil, placeholder: 'Type an address, city, or zip code.', class: 'form-control' %>
  <%= select_tag "activity", "
  <option value=''>Select an Activity</option>
  <option>hiking</option>
  <option>camping</option>
  <option>mountain biking</option>
  <option>caving</option>
  <option>trail running</option>
  <option>snow sports</option>
  <option>horseback riding</option>
  <option>atv</option>
  <option>water sports</option>
  ".html_safe, class: 'form-control' %>
  <%= submit_tag "Search" %>
<% end %>


<%= @geocode %>


<% @response["places"].each do |places| %>

    <% places["activities"].each do |activity| %>
        
        <ul>
          <li><%= activity["name"] %></li>
        </ul>

      <% end %>

<% end %>

        
    </body>
</html>
