
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
    <body>
        <h1>Happy trails</h1>
        <div class="row">

            <div class="col-md-6"> Temp api data</div>
            <button type="button" class="btn btn-primary">Primary</button>

            <div class="col-md-6"> other temp data</div>
            <button type="button" class="btn btn-primary">Primary</button>

        </div>

<%= form_tag root_path, method: 'get', class: 'form-inline' do %>
  <div class="form-group">
    <%= text_field_tag :location, nil, placeholder: 'Type an address, city, or zip code.', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= select_tag "activity", "
    <option value=''>Select an Activity</option>
    <option>hiking</option>
    <option>camping</option>
    <option>mountain biking</option>
    <option>caving</option>
    <option>trail running</option>
    <option>snow sports</option>
    <option>horseback riding</option>
    <option>atv</option>
    <option>water sports</option>
    ".html_safe, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= submit_tag "Search", class: "btn btn-default" %>
  </div>
<% end %>


<%= %>

<% if @response %>
  <% @response["places"].each do |places| %>

    <h2><%= "#{places["city"]}, #{places["state"]}" %></h2>

      <% places["activities"].each do |activity| %>
          
          <ul>
            <li><%= activity["name"] %></li>
            <li><%= activity["description"] %></li>
            <li><%= activity["activity_type_name"] %></li>
          </ul>

        <% end %>

  <% end %>
<% end %>

<script type="text/javascript" src="<%= @endpoint %>"></script>

<script type="text/javascript">
//This is what initializes the Google maps into our app
	function initialize() {

		var sanJose = new google.maps.LatLng(37.339085, -121.8914807);



		var marker = new google.maps.Marker({
			position: sanJose,
			title: "Hello World!",
			animation: google.maps.Animation.DROP,
			draggable: true,
		});

		//This will make our marker bounce up and down.
		google.maps.event.addListener(marker, 'click', function(){
		marker.setAnimation(google.maps.Animation.BOUNCE);
		});

		// This sets the styling for a map
		var styleMap = new google.maps.StyledMapType(styles, {name: 'Styled Map'});

		// Gives us predefined options in our map
		var mapOptions = {
			center: sanJose,
			zoom: 8
		};
		// It creates the map
		var map = new google.maps.Map(document.getElementById('map-canvas'),
			mapOptions);



		//This adds the styling into my map
		map.mapTypes.set('map_style', styleMap);
		map.setMapTypeId('map_style');
		marker.setMap(map);
	}

		//This is going to be the styling for my map
		var styles = [
		    {
		        "featureType": "landscape.man_made",
		        "elementType": "geometry",
		        "stylers": [
		            {
		                "color": "#f7f1df"
		            }
		        ]
		    },
		    {
		        "featureType": "landscape.natural",
		        "elementType": "geometry",
		        "stylers": [
		            {
		                "color": "#d0e3b4"
		            }
		        ]
		    },
		    {
		        "featureType": "landscape.natural.terrain",
		        "elementType": "geometry",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "poi",
		        "elementType": "labels",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "poi.business",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "poi.medical",
		        "elementType": "geometry",
		        "stylers": [
		            {
		                "color": "#fbd3da"
		            }
		        ]
		    },
		    {
		        "featureType": "poi.park",
		        "elementType": "geometry",
		        "stylers": [
		            {
		                "color": "#bde6ab"
		            }
		        ]
		    },
		    {
		        "featureType": "road",
		        "elementType": "geometry.stroke",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "road",
		        "elementType": "labels",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "road.highway",
		        "elementType": "geometry.fill",
		        "stylers": [
		            {
		                "color": "#ffe15f"
		            }
		        ]
		    },
		    {
		        "featureType": "road.highway",
		        "elementType": "geometry.stroke",
		        "stylers": [
		            {
		                "color": "#efd151"
		            }
		        ]
		    },
		    {
		        "featureType": "road.arterial",
		        "elementType": "geometry.fill",
		        "stylers": [
		            {
		                "color": "#ffffff"
		            }
		        ]
		    },
		    {
		        "featureType": "road.local",
		        "elementType": "geometry.fill",
		        "stylers": [
		            {
		                "color": "black"
		            }
		        ]
		    },
		    {
		        "featureType": "transit.station.airport",
		        "elementType": "geometry.fill",
		        "stylers": [
		            {
		                "color": "#cfb2db"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "geometry",
		        "stylers": [
		            {
		                "color": "#a2daf2"
		            }
		        ]
		    }

		];


	// Loads in Google maps on windows
	google.maps.event.addDomListener(window, 'load', initialize);


</script>
<div id="map-canvas"> </div>
    </body>
</html>

